<script src="/js/bootstrap.bundle.min.js"></script>

<footer class="text-dark">
    <div class="container-fluid page-footer py-3">
        <div class="row">
            <div class="col-sm 12 col-lg-6 text-center">
                {{.Site.Copyright | safeHTML}}
            </div>
            <div class="col-sm-12 col-lg-6 text-center">
                <a href="/privacy" class="text-muted">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/about" class="text-muted">About</a>
            </div>
        </div>
    </div>
</footer>

<script>
    let dark_mode = sessionStorage.getItem('dark_mode')

    if (dark_mode == null) {
        if (window.matchMedia('(prefers-color-scheme: dark)').matches || dark_mode == "dark") {
            document.body.classList.add("dark-theme")
            sessionStorage.setItem("dark_mode", "dark")
            icon = document.getElementById("dark-mode-icon").className = "fas fa-sun"
            document.getElementById('logo').src = "/img/white_notext_0.5x.png"
        } else {
            icon = document.getElementById("dark-mode-icon").className = "fas fa-moon"
        }
    } else if (dark_mode == 'dark') {
        document.body.classList.add("dark-theme")
        sessionStorage.setItem("dark_mode", "dark")
        icon = document.getElementById("dark-mode-icon").className = "fas fa-sun"
        document.getElementById('logo').src = "/img/white_notext_0.5x.png"
    } else {
        document.body.classList.remove("dark-theme")
        sessionStorage.setItem("dark_mode", "light")
        icon = document.getElementById("dark-mode-icon").className = "fas fa-moon"
        document.getElementById('logo').src = "/img/black_notext_0.5x.png"
    }

    const dark = () => {
        let dark_mode = sessionStorage.getItem("dark_mode")
        if (dark_mode == "dark") {
            sessionStorage.setItem("dark_mode", "light")
            icon = document.getElementById("dark-mode-icon").className = "fas fa-moon"
            document.body.classList.remove("dark-theme")
            document.getElementById('logo').src = "/img/black_notext_0.5x.png"
        } else {
            sessionStorage.setItem("dark_mode", "dark")
            icon = document.getElementById("dark-mode-icon").className = "fas fa-sun"
            document.body.classList.add("dark-theme")
            document.getElementById('logo').src = "/img/white_notext_0.5x.png"
        }
    }
</script>
